body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
}
header{
    background-color: blue;
}
nav{
    background-color: yellow;
}
main{
    background-color: red;
}
footer{
    background-color: pink;
}
h1{
    font-size: 5vw;
}